@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
 
  *{
    scrollbar-color: #9CA3AF #D1D5DB;
    scrollbar-width: thin;
  }
  ::-webkit-scrollbar {
    @apply w-2 h-1.5 ;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-300;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-400 hover:bg-gray-500;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }
  .cursor-down {
    cursor: url('/images/scroll-down.png') 10 10, pointer;
  }


  button{
    @apply select-none 
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-5xl font-bold md:text-7xl;
  }

  h2,
  .h2 {
    @apply font-primary text-4xl font-bold md:text-6xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    /* max-width: 68.75rem; */
    @apply mx-auto w-11/12 max-w-screen-xl;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

